<h1><%= @profile.first_name %> <%= @profile.last_name %> </h1>

<div class="row">
  <% @profile.pictures.each do |picture| %>
  <div class="col-xs-6 col-md-3">
    <a href="/pictures/<%= picture.id %>" class="thumbnail">
<%= image_tag(picture.image.url(:medium)) %><br>
<%= picture.title %><br>
Posted by: <%= picture.user.first_name %>
      </a>
        </div>
<%end%>
</div>
