<h1> <%= @picture.title %> </h1>

<%= image_tag(@picture.image.url(:medium)) %>

<br>

<% if user_signed_in? %>
<% if @picture.user_id == current_user.id %>
<%= link_to 'Edit', edit_picture_path(@picture) %>
<%end%>

<%= form_tag sales_path(picture_id:@picture.id) do %>
  <article>
    <label class="amount">
      <span>Print this picture onto T-Shirt</span>
    </label>
  </article>

  Size: <br>
  <%= select_tag "size", options_for_select([ "Small", "Medium", "Large" ]) %> <br> 

  Address: <br>
  <%= text_area_tag "address" %> <br>

  Postal Code: <br>
  <%= text_field_tag "postal_code" %> <br>

  Country: <br>
  <%= text_field_tag "country" %> <br>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-name="<%= @picture.title %>"
          data-image="<%= @picture.image.url(:thumb) %>"
          data-currency="GBP"
          data-label="Get this T-shirt"
          data-description="T-Shirt"
          data-amount="1500"
></script>
<% end %>
<% end %>